
@model User
<div class="text-center">
    <h1>We would love to add your Recipe Book to our Shelves!</h1>
    <form action="register" method="post">
        <div class="form-group row p-1">
            <label asp-for="FamilyName" class="col-sm-2 col-form-label">Family Name: </label>
            <input asp-for="FamilyName" class="col-sm-5">
            <span asp-validation-for="FamilyName"></span>
        </div>
        <div class="form-group row p-1">
            <label asp-for="UserName" class="col-sm-2 col-form-label">User Name: </label>
            <input asp-for="UserName" class="col-sm-5">
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group row p-1">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email: </label>
            <input asp-for="Email" class="col-sm-5">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group row p-1">
            <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Phone Number: </label>
            <input asp-for="PhoneNumber" class="col-sm-5">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-group row p-1">
            <label asp-for="Password" class="col-sm-2 col-form-label">Password: </label>
            <input asp-for="Password" class="col-sm-5">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group row p-1">
            <label asp-for="ConfirmPW" class="col-sm-2 col-form-label">PW Confirm: </label>
            <input asp-for="ConfirmPW" class="col-sm-5">
            <span asp-validation-for="ConfirmPW"></span>
        </div>
        <button>Register</button>
    </form>
</div>