<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="/recipe/appetizers" class="nav-link active">Appetizers</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/breakfast" class="nav-link active">Breakfast</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/soupsNstews" class="nav-link active">Soups and Stews</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/mainDishes" class="nav-link active">Main Dishes</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/sideDishes" class="nav-link active">Side Dishes</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/breads" class="nav-link active">Breads</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/desserts" class="nav-link active">Desserts</a>
    </li>
    <li class="nav-item">
        <a href="/recipe/drinks" class="nav-link active">Drinks</a>
    </li>
</ul>