<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="/mealplan" class="nav-link active">Meal Plans</a>
    </li>
    <li class="nav-item">
        <a href="/mealplan/favs" class="nav-link active">Favorites</a>
    </li>
</ul>