@{
    ViewData["Title"]="Shopping List";
}
@model ShoppingList
<h1 class="border-bottom my-3">@Model.MealPlan.Name Shopping List</h1>
<div class="d-flex flex-row m-3">
    <!-- Shopping List -->
    <div class="d-flex flex-column w-75">
        <h4>List</h4>
        <div class="containter container-xxl border border-secondary border-2 px-4 ">
            <ul class="list-group my-3">
                @foreach(Product p in Model.Products){
                    <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                        @p.Amount &ensp;|&ensp; @p.Name &emsp;
                        <a href="/product/@p.ID/delete">
                            <button class="btn p-0 m-0" style="background-color:transparent">&times;</button>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- What to do with Shopping List -->
    <div class="d-flex h-100">
        
    </div>
</div>
