<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Add a Step for making @Model.Name</h5>
</div>
<form action="/addStep" method="post" class="row g-3">
    <div class="modal-body mx-3 d-flex flex-column">
        <!-- RecipeID -->
        <input name="RecipeID" value="@Model.ID" required hidden>
        <!-- Number -->
        <label for="Number" class="form-label">Step Number</label>
        <input type="number" class="form-control" name="Number" required>
        <!-- Type -->
        <label for="Direction" class="form-label">Step Directions</label>
        <input type="text" class="form-control" name="Direction" required>
    </div>
    <div class="modal-footer col-12">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        
        <button type="submit" class="btn btn-primary">Add Step</button>
    </div>
</form>